.PlayerControls {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.PlayerControls .progress {
  margin-bottom: 1rem;
  cursor: pointer;
}

.PlayerControls .controls {
  margin: auto;
  max-width: 30rem;
}

.PlayerControls .control {
  border: none;
  color: inherit;
}

.PlayerControls .control:hover {
  background: transparent;
  color: hsl(171, 100%, 41%);
}

.PlayerControls .info {
  margin: 0;
}

.PlayerControls .episode-title {
  flex-shrink: 1;
  margin: 0 0.5rem;
  overflow: hidden;
}

.PlayerControls .episode-title-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
